Pillow==10.3.0
pyinstaller~=5.13.0; platform_system == "Windows"
pyinstaller-hooks-contrib~=2023.2; platform_system == "Windows"
tkinterdnd2-universal~=1.7.3
pyperclip~=1.8.2
customtkinter~=5.2.2
pyobjus~=1.2.3; sys_platform == 'darwin'
py2app~=0.28.6; sys_platform == 'darwin'
pyobjc-framework-Cocoa==10.2; sys_platform == 'darwin'
piexif~=1.1.3
pefile~=2023.2.7
requests~=2.32.1
toml~=0.10.2
CTkToolTip~=0.8
click~=8.1.7