Pillow~=9.5.0
pyinstaller~=5.13.0; platform_system == "Windows"
pyinstaller-hooks-contrib~=2023.2; platform_system == "Windows"
tkinterdnd2-universal~=1.7.3
pyperclip~=1.8.2
customtkinter~=5.2.0
pyobjus~=1.2.1; sys_platform == 'darwin'
py2app~=0.28.5; sys_platform == 'darwin'
pyobjc-framework-Cocoa~=9.2; sys_platform == 'darwin'
piexif~=1.1.3
pefile~=2023.2.7
requests~=2.31.0
toml~=0.10.2